.header-account {
  width: 150px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.header-account__body {
  height: 65px;
  width: 65px;
  background-color: white;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  position: relative;
}

