.login__form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  a {
	text-decoration: underline;
	cursor: pointer;
	transition: 0.2s;
  }

  a:hover {
    color: #64aee3;
  }

  .sep-line__hor {
    margin-top: 10px;
  }
}

.login__input {
  width: 100%;
  position: relative;

  div {
    transition: 0.3s;
  }

  input {
    padding: 0 5px 0 25px;
    width: calc(100% - 30px);
    border-radius: 7px;
    font-size: 14pt;
    transition: 0.5s;
    outline: none;
    border: none;
    overflow: hidden;
  }

  input:focus + .login__input-line:after {
    width: 100%;
  }

  input:focus ~ .input-placeholder div {
    transform: translateX(175px);
    opacity: 0;
  };

  .input-placeholder__moved {
    transform: translateX(175px);
    opacity: 0;
  }


  .input-placeholder {
    position: absolute;
    display: flex;
    gap: 7px;
    font-size: 14pt;
    top: 7px;
    left: 0;
    pointer-events: none;

    svg {
      transform: translateY(4px);
      width: 20px;
      height: 20px;
    }
  }

}


.login__input-line {
  width: 100%;
  height: 2px;
  background: rgb(210, 210, 210);
  position: relative;
}

.login__input-line:after {
  content: "";
  width: 0;
  height: 2px;
  background: orange;
  position: absolute;
  transition: 0.5s;
}




.login-button {
  width: 100%;
  height: 45px;
  border: 2px solid #edb23b;
  border-radius: 7px;
  background: white;
  font-size: 14pt;
  transition: 0.3s;
  cursor: pointer;
  font-weight: 500;
  margin: 20px 0 10px 0;
}

.login-button:hover {
  background: #edb23b;
  color: white;
}


.error-block {
  text-align: justify;
  font-size: 12pt;
  //height: 75px;
  width: 100%;
  color: red;
  margin-top: 10px;
}
