.header-navbar {
  height: inherit;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: auto;
}

.header-navbar__body {
}

.header-navbar__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 16pt;
  position: relative;
}

.header-navbar__list li {
  position: relative;
  list-style: none;
}

.header-navbar__list li a {
  position: relative;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}

.header-navbar__list li a span {
  display: block;
  transition: 0.3s;
}

.header-navbar__link {
  transition: 0.5s;
}

.header-navbar__link:after {
  top: 90%;
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background-color: orange;
  content: "";
  transition: width 0.5s ease-out;
}

.header-navbar__list li:hover .header-navbar__link:after,
.header-navbar__list li:focus .header-navbar__link:after {
  width: 100%;
}

.header-navbar__list li:hover .header-navbar__link {
  transform: translateY(-10px);
  color: orange;
}


