@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-white: #fff;
  --color-lightgray: rgb(250, 250, 250);
  --color-gray: rgb(240, 240, 240);
  --color-darkgray: rgb(230, 230, 230);
  --color-orange: #edb23b;
  --text-color: rgb(90, 90, 90);
  --color-border: rgb(190, 190, 190);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

.container {
  margin: auto;
  height: inherit;
}

.page__row {
  padding-top: 90px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  position: relative;
}