

h1 {
  color: #1D1E35FF;
  font-size: 32px;
  line-height: 32px;
}

button {
  color: #4A4B5EFF;
  font-size: 14px;
  line-height: 14px;

}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
/* Remove the focus indicator on mouse-focus for browsers that do support :focus-visible */
button:focus:not(:focus-visible) {
  outline: 0;

}

button:focus-visible {
  /* Draw a very noticeable focus style for
     keyboard-focus on browsers that do support
     :focus-visible */
  outline: 2px dashed #F47C57FF;
  outline-offset: 0;
}



.font-weight-bold {
  font-weight: 700;
}

.faq__desc.show-description {
  height: 10rem;
  margin-bottom: 15px;
}

/* Arrows */

/* closed */
.faq__question-button::after {
  transition: transform 300ms ease-out;

}

.faq__question-button:hover {
  background: none;
  border: none;
  outline: none;

}

/* open */
.font-weight-bold::after {
  transform: rotate(720deg);
}


.attribution {
  font-size: 11px;
  text-align: center;
  color: #E7E7E9FF;
  padding-top: 10px;
}
.attribution a {
  color: #AF67E9FF;
}



.component {
  margin: 0 auto;
  //margin-top: 50px;
  max-width: 920px;
  width: 100%;
  background-color: #ffffff;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-position: -565px -295px;
  background-repeat: no-repeat;
  box-shadow: 0 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  display: flex;
}




//Primary Text colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

// Background gradient:
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//Neutral Text colors
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);


.faq {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 80px;

  &__title {
    margin: 0;
    padding-bottom: 25px;
  }

  &__question {
    max-width: 350px;
    width: 100%;
    border-bottom: 1px solid $light-grayish-blue;
  }

  &__question-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    padding: 7px;
    cursor: pointer;
    padding-top: 18px;
    padding-bottom: 18px;

    &::after {
      content: url(../images/icon-arrow-down.svg);
      margin-right: 17px;
      transform: rotate(90deg);
    }

    &:hover {
      color: $soft-red;
    }
  }

  &__desc {
    padding-right: 17px;
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-out;
  }
}


.illustration {
  width: 100%;
  position: relative;



  &__woman-desktop {
    position: absolute;
    top: 23px;
    left: -3rem;
    clip-path: inset(0px 0px 0px 77px);
  }

  &__woman-mobile {
    display: none;
  }
}


@media only screen and (max-width: 800px) {
  .illustration__woman-desktop {
    max-width: 120%;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    /* added padding here to mobile container,
    so illustration__woman-desctop would not be cropped at the top */
    padding-top: 105px;
  }

  .component {
    max-width: 327px;
    background-image: url(../images/bg-pattern-mobile.svg);
    background-position: top;
    flex-direction: column;
  }

  .illustration {
    &__box {
      display: none;
    }

    &__woman-desktop {
      display: none;
    }

    &__woman-mobile {
      display: block;
      margin: 0 auto;
      position: absolute;
      top: -105px;
      left: 12px;
    }
  }

  .faq {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 132px;
    padding-bottom: 48px;

    &__question {
      max-width: 279px;
    }

    &__question-button {
      width: 279px;
      font-size: 13px;
      line-height: 13px;

      &::after {
        padding-right: 0;
      }
    }
  }
}

.cc {
  height: 120px;
}



