.results__item {
  width: 100%;
  height: 250px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 1px 1px var(--color-darkgray);
  background-color: #FFF;
  display: flex;
  gap: 20px;

  button {
    font-size: 14pt;
  }
}

.item__img {
  width: 300px;
  height: available;
  //border: 1px solid rgb(220,220,220);

  img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.item__info {
  width: calc(100% - 300px - 20px);
  display: flex;
}

.item__info-left {
  width: 70%;
  /*background: lightgray;*/
  height: 100%;
}

.item__info-header {
  width: 100%;
  font-size: 14pt;
  height: 30%;
}

.item__info-description {
  font-size: 12pt;
  height: 40%;
}

.item__info-service {
  height: 30%;
  font-size: 10pt;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.item__info-right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.item__buttons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;

  button {
    font-size: 14pt;
    height: 40px;
    padding: 0 10px;

    &:nth-child(1) {
      width: 40px;
    }
    &:nth-child(2) {
      width: 100px;
    }
  }
}